body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.captcha-box{position:relative}

#mobile_captcha{width:200px;margin-bottom:10px;margin-top:5px}
.mobile_login{display:none;}

.form-signin-heading {display:block;position:relative}

.loginModel {font-size:10px;right:10px;top:20px;position: absolute;}

#getting{width:160px;position: absolute;left: 139px;top: 51px;}

.input-group
{
	display:block;
	margin-bottom:40px;
}

.captcha {
	border-radius: 2px;
	cursor:pointer;position: absolute;z-index:3;left: 144px;top: 3px;}
	
.refimg {position: absolute;z-index:3;left: 254px;top: 12px;}
	
#login{background-color:#008792}
.btn-primary:hover {border-color:#008792}
.btn-primary {border-color:#008792}

#validateCode {padding-left: 10px;width:140px;margin-bottom:10px;}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
